{% extends "base.html" %}
{% load humanize %}
{% block header %}
<script>
  function cst_detail(user_sn) {
    $.ajax({
      url: "/api/cstmng/" + user_sn,
      success: function (result) {
        $("#goodsmng-" + user_sn).popover({
          html: true,
          content: result.user_sn + "<br/>" + result.cst_nm + "<br/>" + result.tel_no + "<br/>" + result.frst_reg_dttm
        }).popover('show');
      }
    });
  }

  function cst_leave(user_sn) {
    $("#cstmng-" + user_sn).popover('hide');
  }
  $(document).ready(function () {});
</script>
{% endblock %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">등록번호</th>
          <th scope="col">고객명</th>
          <th scope="col">전화번호</th>
          <th scope="col">등록날짜</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for cstmng in cst_list %}
        <tr>
          <th scope="row">{{ cstmng.user_sn }}</th>
          <th><a id="cstmng-{{ cstmng.user_sn }}" onmouseenter="cst_detail({{ cstmng.user_sn }});"
              onmouseleave="cst_leave({{ cstmng.user_sn }});" href="/cstmng/{{ cstmng.user_sn }}">{{ cstmng.cst_nm }}</a>
          </th>
          <th>{{ cstmng.frst_reg_dttm|date:'Y-m-d H:i' }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}