{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{ goodsmng.goods_nm }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <form method="POST" action="/goodsmng/create/">
{#            {% csrf_token %}#}
            {% for field in form %}
            <div class="form-group">
              {% ifnotequal field.name 'goodsmng' %}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% endifnotequal %}
              <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                placeholder="{{ field.label }}" name="{{ field.name }}"
                value="{% ifequal field.name 'goodsmng' %}{{goodsmng.goods_cd}}{% endifequal %}" />
            </div>
            {% if field.errors %}
            <span style="color: red">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">주문하기</button>
          </form>
        </li>
        <li class="list-group-item">가격: {{ goodsmng.goods_amt|intcomma }} 원</li>
        <li class="list-group-item">등록날짜: {{ goodsmng.frst_reg_dttm|date:'Y-m-d H:i' }}</li>
{#        <li class="list-group-item">재고: {{ goods.stock|intcomma }} 개</li>#}
        <li class="list-group-item">{{ goodsmng.adv_dtl|safe }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="/goodsmng/">목록보기</a>
    </div>
  </div>

  {% endblock %}
